/* Horiseon CSS Style Code */
/* Full list of code changes at bottom of code */

/* Element Selectors */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #d9dcd6;
}

header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

header h1 {
    display: inline-block;
    font-size: 48px;
}

header h1 .seo {
    color: #d9dcd6;
}

nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

nav ul {
    list-style-type: none;
}

nav li {
    display: inline-block;
    margin-left: 25px;
}

a {
    color: #ffffff;
    text-decoration: none;
}

p {
    font-size: 16px;
}

footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

footer h2 {
    font-size: 20px;
}

/* Class Selectors */

/* The banner image as a hero class */
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

/* Content Div Class */
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

.content img {
    max-height: 200px;
}

.content h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/* Sets images to the left */
.float-left {
    float: left;
    margin-right: 25px;
}

/* Set images to the right */
.float-right {
    float: right;
    margin-left: 25px;
}

.search-engine-optimization, .online-reputation-management, .social-media-marketing {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/* The Benefits Div Class */
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

.benefits img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

.benefit-lead, .benefit-brand, .benefit-cost {
    margin-bottom: 32px;
    color: #ffffff;
}

/* ID Selectors */
/* None */


/* Full list of Code Changes
Note: All changes listed have had the corresponding html changes also
1. Changed Header from a class to an element selector,
2. no change to css only html
3.no change to css only html
4. Nav selector used instead of header div selector to clean up code
5. no change to css only html
6. no change to css only html
7. benefit-lead, benefit-cost and benefit-brand all defined in same curly brackets set to cleanup code. 
Please note: this could have also been done by adding the margin-bottom and color items to the benefits class, 
but the separate classes were left to allow for easy labelling of the divs
8. Same as 7. but with benefit-lead img, benefit-cost img and benefit-brand img
9. Benefits Section CSS put below Content Div CSS so that the html and CSS are in the ame order
10. Same as 7. But for ".search-engine-optimization", ".online-reputation-management" and ".social-media-marketing"
11. Same as 8. but with ".search-engine-optimization img", ".online-reputation-management img" and ".social-media-marketing img"
12. Same as 11 but with "content img" and ".content h2"
13.  no change to css only html
*/